button {
    all: unset
}

#logo__img {
    height: 24px;
}

#logo {
    display: flex;
    justify-content: center;
    margin: 16px 0px 16px 0px;
}

#add__text {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#add__text__button {
    width: 32px;
    height: 32px;
    color: #474747;
    top: 50%;
    transform: translateY(-50%);
    right: 24px;
    position: absolute;
    cursor: pointer;
}

#add__text__button:hover {
    color: white;

}


body {
    background-color: #0A1435;
    padding: 0px;
    margin: 0px;
}

#logo__text {
    font-family: "Poppins";
    font-weight: 400;
    text-align: center;
    font-size: 18px;
    margin: 0px 0px 0px 8px;
    color: #FFFFFF;
}

#text__input[type=text] {
    width: 320px;
    height: 48px;
    font-family: "Poppins";
    font-weight: 400;
    font-size: 16px;
    outline: none;
    border: 2px solid #3C3C3C;
    border-radius: 8px;
    padding: 0px 40px 0px 8px;
    margin: 16px;
    background-color: #192037;
    text-decoration: none;
    color: #B4B4B4;
}

#text__input[type=text]:focus {
    border: 2.5px solid #4748DF;
    transition: 10ms;
}

.text__snippet {
    font-family: "Poppins";
    font-weight: 400;
    text-align: center;
    font-size: 16px;
    margin: 0px 0px 0px 16px;
    color: #FFFFFF;
    max-width: 220px;
    word-wrap: break-word;
}

.text__snippet {
    font-family: "Poppins";
    font-weight: 400;
    font-size: 16px;
    margin: 0px;
    color: white;
    text-align: left;
}

.copy__text__button {
    width: 16px;
    height: 16px;
    color: #1F91D2;
    top: 50%;
    transform: translateY(-50%);
    right: 52px;
    position: absolute;
    cursor: pointer;
}

.copy__text__button:hover {
    color: blue;
}

.delete__text__button {
    width: 16px;
    height: 16px;
    color: #1F91D2;
    top: 50%;
    transform: translateY(-50%);
    right: 24px;
    position: absolute;
    cursor: pointer;
}

.delete__text__button:hover {
    color: #A60000;
}

.clipyboard__item {
    padding: 16px;
    position: relative;
    margin: 0px 16px 16px 16px;
    background-color: #192037;
    border-radius: 8px;

}

html {
    overflow: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0;
    /* Remove scrollbar space */
    background: transparent;
    /* Optional: just make scrollbar invisible */
}

/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: transparent;
}

.nav__icon {
    width: 24px;
    height: 24px;
    color: white;
    padding-left: 8px;
}

.nav__icons {
    display: flex;
}

.nav_bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 18px;
    padding-right: 18px;
    background-color: #1e2848;
}